:root {
    --bg-color:#FFFFFF;
    --headers-color:#0E1C36;
    --text-color:#333333;
    --acent-color:#AFCBFF;
    --second-acent-color:#D7F9FF;
    --second-bg-color:#F9FBF2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body, a, button {
    cursor: none;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    padding:2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #e5e5f7;
    
    background-image:  linear-gradient(#444df711 1px, transparent 1px), linear-gradient(to right, #444df711 1px, #ffffff 1px);
    background-size: 20px 20px;
}

.section{
    padding: 212rem;
}
.container{
    margin: 0 auto;
        display:flex;
        justify-content:space-around;
        align-items:center;
        padding:20px 0;
}
    
/*FONTS*/
h1, h2, h3, h4, h5, h6 {
    color: var(--headers-color);
    font-weight: 700;
}
h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
/*BUTTONS*/
.btn{
    margin-top:2rem;
    display:inline-block;
    padding:10px 20px;
    background-color:var(--acent-color);
    color:#fff;
    text-decoration:none;
    border-radius:5px;
    font-weight:500;
    transition:background-color 0.3s ease;
    &:hover{
        background-color:var(--headers-color);
    }
}

/*HEADERS*/

header{
    background-color:var(--second-bg-color);
    padding:10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    h1{
        a{
            text-decoration:none;
            color:var(--headers-color);
        }
    }
    .container{
        justify-content:space-between;
        .nav-links{
            list-style:none;
            display:flex;
            gap:20px;
            li a{
                text-decoration:none;
                color:var(--text-color);
                font-weight:500;
                &:hover{
                    color:var(--acent-color);
                }
            }
        }
    }

}
/*HERO*/

.hero{

    padding:2rem;
}

/*ABOUT ME*/
#about{
    background-color:var(--second-bg-color);
    padding:40px 20px;
    border-radius:10px;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    .about-text{
        width: 50%;
    }
    .about-img{
        width: 200px;
        height: 200px;
        background-color: var(--headers-color);
        border-radius:300px;
        img{
            display: none;
            width:100%;
            border-radius:10px;
        }
    }
}


/*SKILLS*/
.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    gap:20px;
    margin-top:20px;
    .skill-card{
        background-color:var(--second-bg-color);
        padding:15px;
        border-radius:8px;
        text-align:center;
        box-shadow:0 2px 4px rgba(0,0,0,0.1);
        img{
            width:50px;
            height:50px;
            object-fit:contain;
            margin-bottom:10px;
        }
        h4{
            font-size:1.1rem;
            color:var(--headers-color);
        }
        details{

            p{
                color:var(--text-color);
                background-color:var(--bg-color);
                margin-top:10px;
                padding:10px;
                border-radius:5px;
                }
        }
    }
}

/*PROJECTS*/
#projects{
    
    display:flex;
    flex-direction: column;
}
.projects-grid{
    width: 100%;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    gap:20px;
    margin-top:20px;
    .project-card{
        padding: 10px;
        background-color:var(--headers-color);
        border-radius:10px;
        box-shadow:0 4px 6px rgba(0,0,0,0.1);
        overflow:hidden;
        color:var(--second-acent-color);
        h3{
            color:var(--bg-color);
        }
        img{
            width:100%;
            height:200px;
            object-fit:cover;
            border:2px solid var(--acent-color);
            border-radius: 8px;
        }
        a{
            text-decoration:none;
            color:var(--second-acent-color);
            background-color: var(--acent-color);
            padding: 10px 15px;
            border-radius: 5px;
            display: inline-block;
            margin-top: 10px;
        }
    
    }
}

/*CONTACT*/
#contact{
    margin-top:40px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:var(--second-bg-color);
    padding:40px 20px;
    border-radius:10px;
    form{
        display:flex;
        flex-direction:column;
        width:100%;
        max-width:500px;
        gap:15px;
        input, textarea{
            padding:10px;
            border:1px solid #ccc;
            border-radius:5px;
            font-size:1rem;
        }
        button{
            padding:10px;
            border:none;
            border-radius:5px;
            background-color:var(--acent-color);
            color:#fff;
            font-size:1rem;
            cursor:pointer;
            &:hover{
                background-color:var(--headers-color);
            }
        }
    }
}


/*FOOTER*/
footer{
    text-align:center;
    padding:20px 0;
    border-radius: 10px;
    margin-top:40px;
    background-color:var(--headers-color);
    p{
        color:var(--second-acent-color);
    }
}

/*ABOUT ME PAGE*/
#skills-aboutme{
    margin-top:40px;
    background-color:var(--second-bg-color);
        display:flex;
        flex-direction:column;
        align-items:center;
        .skills-grid{
            padding:2rem;
            width:100%;
            .skill-card{
                background-color:var(--headers-color);
                color:var(--acent-color)
            }
        }
}

/*RESPONSIVE*/
@media (max-width:900px){
    .container{
        flex-direction:column;
        text-align:center;
        gap: 14px;
    }
    .hero-img, .hero-text{
        width:100%;
    }
    #about .about-text{
        width:100%;
    }
        #infoproject{
        flex-direction:column;
    }
    .tech-used-grid{
        justify-content:center;
    }
}

/*INFO PROJECT PAGE*/
#infoproject{
    margin-top: 40px;
    display:flex;
    gap:4rem;
    .project-text{
        display: flex;
        flex-direction: column;
        flex:1;
        gap:20px;
        h2{
            margin-bottom:20px;
        }
        p{
            font-size:1.1rem;
            line-height:1.6;
        }
        .tech-used-grid{
            display: flex;
            gap: 20px;
            img{
                position: relative;
                width:50px;
                height:50px;
                object-fit:contain;
                margin-bottom:10px;
            }
            img:hover {
                transform: scale(1.1) translate(0, -5px);
                transition: transform 0.3s ease;
            }
}
    }
    .project-img{
        flex:1;
        img{
            width:100%;
            border-radius:10px;
            box-shadow:0 4px 6px rgba(0,0,0,0.4);
        }
    }
}

#descriptionproject{
    background-color:var(--second-bg-color);
    padding:30px;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    margin-top:40px;
    p{
        font-size:1.1rem;
        line-height:1.6;
    }
    .cta{
        .btn{
            display: inline-flex;
            align-items: center;
            gap: 10px;
            padding: 10px 10px;
            background-color: var(--acent-color);
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover{
                background-color: var(--headers-color);
            }
        }
        img{
            margin:0;
            width:40px;
            box-shadow: none;
        }
    }
    img{
        width:100%;
        margin-top:20px;
        border-radius:10px;
        box-shadow:0 4px 6px rgba(0,0,0,0.1);
    }
}
#galleryproject{
    position: relative;
    margin-top:40px;
    display:flex;
    gap:20px;
    .gallery-grid{
        position: relative;
        width: 70%;
        display:grid;
        grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
        gap:20px;
        img{
            width:100%;
            border-radius:10px;
            box-shadow:0 4px 6px rgba(0,0,0,0.1);
        }
        img:hover:not(:active){
            filter:grayscale(0.5);
        }

    }
}

/*CUSTOM CURSOR*/
.cursor {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out, background 0.3s;
    z-index: 9999;
}

body {
    cursor: none; /* Ocultar cursor original */
}

/* Efecto hover en enlaces */
a:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(1.5);
    background: rgba(0, 0, 0, 0.2);
}

/*SMOOTH SCROLL*/
html {
    scroll-behavior: smooth;
}

/*Acordeon styles*/
.content{
    display:none;
    margin-top:10px;
    padding:10px;
    border-radius:5px;
    background-color: #e5e5f7;
    background-position: center;
    height: 100px;
    border:solid 1px #ccc;
}
.content .active{
    display:block;
    height: auto;
    transition: height 0.3s ease;}
